jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
    outputs:
      ec2_ip: ${{ steps.terraform_output.outputs.ec2_ip }}
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Setup do Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Inicializar Terraform
        run: terraform init
        working-directory: terraform

      - name: Aplicar Terraform
        run: terraform apply -auto-approve
        working-directory: terraform

      - name: Obter IP público da EC2
        id: terraform_output
        run: |
          echo "ec2_ip=$(terraform output -raw ec2_public_ip)" >> $GITHUB_OUTPUT
        working-directory: terraform
