name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-1
    outputs:
      ec2_ip: ${{ steps.terraform_output.outputs.ec2_ip }}

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Setup do Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Inicializar Terraform
        run: terraform init
        working-directory: terraform

      - name: Aplicar Terraform
        run: terraform apply -auto-approve
        working-directory: terraform
      
      - name: Instalar jq
        run: sudo apt-get install -y jq


      - name: Capturar IP público da EC2
        id: terraform_output
        run: |
          IP=$(terraform output -json | jq -r '.ec2_public_ip.value')
          echo "ec2_ip=$IP" >> $GITHUB_OUTPUT
        working-directory: terraform


  deploy:
    runs-on: ubuntu-latest
    needs: terraform
    env:
      EC2_IP: ${{ needs.terraform.outputs.ec2_ip }}

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Criar chave SSH para acessar EC2
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > id_rsa
          chmod 600 id_rsa

      - name: Verificar IP recebido
        run: echo "IP recebido $EC2_IP"

      - name: Copiar código para EC2
        run: |
          scp -o StrictHostKeyChecking=no -i id_rsa -r ./ ubuntu@$EC2_IP:/home/ubuntu/app

      - name: Deploy com Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no -i id_rsa ubuntu@$EC2_IP "
            cd /home/ubuntu/app && docker-compose up -d --build
          "

      - name: Mostrar URL da aplicação
        run: |
          echo "===================================================="
          echo "✅ A aplicação está disponível em: http://$EC2_IP:5000"
          echo "===================================================="
